{% extends 'patterns/pattern.html' %}



{% block header %}
<header class="flex z-50 items-center justify-between sticky top-0 px-10 mb-5 h-17 mx-5 rounded-t-md rounded-b-lg border-gray-300 bg-indigo-950">
  <div class="flex flex-row items-center">
      <img class="object-fit" src="/static/favicon/header_img.png" alt="">
      <a class="uppercase font-bold text-lg text-gray-300 " href="{% url 'home' %}">GrinCraft</a>
  </div>
  <nav class="flex items-center">
    <ul class="text-lg text-gray-300 font-semibold inline-flex items-center mr-30">
      <li><a class="ml-5 inline-block py-3 hover:underline hover:text-gray-100 decoration-4 decoration-purple-800 underline-offset-24" href="{% url 'home' %}">Главная</a></li>
      <li><a class="ml-5 inline-block py-3 hover:underline hover:text-gray-100 decoration-4 decoration-purple-800 underline-offset-24" href="{% url 'news' %}">Новости</a></li>
      <li><a class="ml-5 inline-block py-3 hover:underline hover:text-gray-100 decoration-4 decoration-purple-800 underline-offset-24" href="{% url 'rules' %}">Правила</a></li>
      <li><a class="ml-5 inline-block py-3 hover:underline hover:text-gray-100 decoration-4 decoration-purple-800 underline-offset-24" href="{% url 'about' %}">О нас</a></li>
      <li><a class="ml-5 inline-block py-3 hover:underline hover:text-gray-100 decoration-4 decoration-purple-800 underline-offset-24" href="{% url 'forum' %}">Форум</a></li>
      <li><a class="ml-5 inline-block py-3 hover:underline hover:text-gray-100 decoration-4 decoration-purple-800 underline-offset-24" href="{% url 'shop' %}">Магазин</a></li>
    </ul>
    <ul class="mx-1 inline-flex items-center">
      {% if not user.is_authenticated %}
        <li>
          <a href="{% url 'users:login' %}" class="block mx-2 h-10 py-1 px-3 border-2 rounded-full border-gray-300 text-gray-300 hover:text-white hover:bg-purple-800">Авторизоваться</a>
        </li>
      <li>
        <a href="{% url 'users:reg' %}" class="block mx-2 h-10 py-1 px-3 border-2 rounded-full border-gray-300 text-gray-300 hover:text-white hover:bg-purple-800">Зарегистрироваться</a>
      </li>
      {% else %}
        <li>
          <a href="{% url 'profile' user.username %}" class="flex items-center mx-2 h-10 px-3 border-2 rounded-full border-gray-300 text-gray-300 hover:text-white hover:bg-purple-800"> Профиль </a>
        </li>
        <li>
          <button class="block mx-2 h-10 py-1 px-3 border-2 rounded-full overflow-visible relative
          border-gray-300 text-gray-300 hover:text-white hover:bg-purple-800">
            <a href="{% url 'basket' %}">
            Корзина
              {% if basket_value %}
                <a href="" class="block absolute h-6 w-6 bg-orange-400 -top-2 -right-2 rounded-full text-white">
                  {{basket_value}}
                </a>
              {% endif %}
            </a>
          </button>
        </li>
      {% endif %}
    </ul>
  </nav>
</header>
{% endblock %}