{% extends 'patterns/pattern.html' %}



{% block header %}
<header>
    <div class="container">
        <h1 class="logo">{{username}}</h1>
        <nav>
            <ul class="menu">
                <li><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Главная</a></li>
                <li><a href="{% url 'addlist' %}"><i class="fa-solid fa-server"></i> Вывод с БД </a></li>
                <li><a href="{% url 'about' %}"><i class="fa-solid fa-address-card"></i> О нас</a></li>
                <li><a href="{% url 'createnews' %}"><i class="fa-solid fa-scale-balanced"></i> Добавление новостей</a></li>
                <li><a href="#"><i class="fa-solid fa-circle-dollar-to-slot"></i> Донат</a></li>
            </ul>
        </nav>
        <a href="{% url 'auth' %}" class="register-button"><i class="fa-solid fa-id-card"></i> Регистрация/вход </a>
    </div>
</header>
{% endblock %}