<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.png' %}"/>
    <style type="text/tailwindcss">
      @theme {
        --color-clifford: #da373d;
      }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static 'login/reg.css' %}">
    <script src="https://kit.fontawesome.com/757aeefd3e.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>{% block title %}        {% endblock %}</title>
</head>
<body class="">
<div class="bg-gradient-to-br min-h-181 bg-auto from-green-950 via-black to-green-900">
    {% block header %}      {% endblock %}
    {% block techsupport_header %}      {%endblock%}
    {% block addlist %}     {% endblock %}
    {% block home %}    {% endblock %}
</div>
</body>
</html>