<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.jpg' %}"/>
    <meta charset="UTF-8">
    <title>{% block title %}        {% endblock %}</title>
</head>
<body class="">
<div class="bg-gradient-to-br min-h-201 bg-auto from-green-950 via-black to-green-900">
    {% block header %}      {% endblock %}
    {% block techsupport_header %}      {%endblock%}
    {% block addlist %}     {% endblock %}
    {% block home %}    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>