{% extends 'patterns/header.html' %}
{% block title %} {{user.username}} {% endblock %}
{% load static %}
{% block addlist %}
<div class="profile_block px-5">
  <div class="profile_info_block flex space-x-5 divide-x-1 divide-gray-300 py-15">
    <div class="avatar_div w-1/5 mr-5 space-y-2 rounded-xl overflow-hidden">
      <img class="user_avatar " src="{{user_status_object.avatar.url}}" alt="">
    </div>
    <div class="user_info_div w-2/5 flex flex-col">
    <div class="flex flex-col space-y-2 w-[80%] mx-auto">
      <div class="flex flex-row p-2 items-center space-x-2 rounded-lg bg-gray-400 border-2 border-gray-300"><span class="font-medium">Имя пользователя:</span><span>{{user_object.username}}</span></div>
      <div class="flex flex-row p-2 items-center space-x-2 rounded-lg bg-gray-400 border-2 border-gray-300"><span class="font-medium">Статус пользователя:</span>
        <span>
          {% if user_object.username == user.username %}
            {% if user_status_object.is_moderator %}
              <a class="text-green-700 font-semibold" href="http://127.0.0.1:8000/admin">Модератор</a>
            {% elif user_status_object.is_staff %}
              <a class="text-red-600 font-bold bg-black p-1" href="http://127.0.0.1:8000/admin">Администратор</a>
            {% else %}
              Активный
            {% endif %}
          {% else %}
            {% if user_status_object.is_moderator %}
              <span class="text-green-700 font-semibold">Модератор</span>
            {% elif user_status_object.is_staff %}
              <span class="text-red-600 font-bold bg-black p-1">Администратор</span>
            {% else %}
              Активный
            {% endif %}
          {% endif %}
        </span>
      </div>
      <div class="flex flex-row p-2 items-center space-x-2 rounded-lg bg-gray-400 border-2 border-gray-300"><span class="font-medium">Адрес электронной почты:</span>
        <span>
          {% if user_object.username == user.username %}
            {{user_object.email}}
          {% else %}
            *Скрыт*
          {% endif %}
        </span>
      </div>
      <div class="flex flex-row p-2 items-center space-x-2 rounded-lg bg-gray-400 border-2 border-gray-300"><span class="font-medium">Дата регистрации: </span><span>{{ user_object.date_joined  }}</span></div>
      <div class="flex flex-row p-2 items-center space-x-2 rounded-lg bg-gray-400 border-2 border-gray-300"><span class="font-medium">Баланс: </span>
        <span>
          {% if user_object.username == user.username %}
            {{user_status_object.balance}} <a class="inline-block text-center text-lg px-2 rounded-lg border-1 border-blue-200 bg-green-600 hover:bg-green-700" href="">Пополнить</a>
          {% else %}
            *Скрыт*
          {% endif %}
        </span>
      </div>
      <div>
        {% if user_object.username == user.username %}
          <a class="inline-block py-2 px-4 rounded-lg border-1 border-black items-center bg-rose-600 hover:bg-rose-800" href="{% url 'logout' %}">Выйти</a>
        {% endif %}
      </div>
    </div>
    </div>
    <div class="user_active_div w-2/5 flex flex-col">
      <div class="flex flex-col space-y-2 w-[80%] mx-auto">
        <div class="flex flex-row p-2 items-center space-x-2 rounded-lg bg-sky-600 border-2 border-gray-300"><span>Количество записей:</span><span>{{value_user_articles}}</span></div>
        <div class="flex flex-row p-2 items-center space-x-2 rounded-lg bg-sky-600 border-2 border-gray-300"><span>Количество ответов:</span>
          <span>
            {% if value_user_answer is None %}
              Ответов нет
            {% else %}
              {{value_user_answer}}
            {% endif %}
          </span>
        </div>
        <div class="flex flex-row p-2 items-center space-x-2 rounded-lg bg-sky-600 border-2 border-gray-300"><span>Количество комментариев:</span><span> *В разработке* </span></div>
        <div class="flex flex-row p-2 items-center space-x-2 rounded-lg bg-sky-600 border-2 border-gray-300"><span>Активность:</span><span> *В разработке* </span></div>
      </div>
    </div>
  </div>
  {% if user_object.username == user.username %}
  <div class="user_articles_and_answers flex flex-col bg-gray-400 border-2 border-gray-300 rounded-xl">
    <div class="buttons_div m-auto bg-gray-600 rounded-b-full ">
      <a href="{% url 'profile' user.username %}" class="inline-block text-center text-black hover:bg-gray-700 py-2 px-4 hover:rounded-bl-full">Мои статьи</a>
      <a href="{% url 'profile_view_answers' user.username %}" class="inline-block text-center text-black bg-gray-700 py-2 px-4">Мои ответы</a>
      <a href="" class="inline-block text-center text-black hover:bg-gray-700 py-2 px-4 hover:rounded-br-full">Мои комментарии</a>
    </div>
    <div class="articles_div flex flex-col">
      <div class="flex flex-col divide-y-2 divide-gray-600 w-[85%] m-auto border-1
         border-gray-1 bg-neutral-900 rounded-xl text-gray-300 text-xl font-medium">
            {% if all_user_answers %}
                {% for el in all_user_answers %}
                        {% if el.question.is_resolved %}
                            <a href="{% if el.question.is_anonymous != None %}{% url 'complaints_record' el.question.pk %}{% else %}{% url 'techsupport_record' el.question.pk %}{% endif %}" class="grid grid-cols-3 rounded-lg bg-rose-800 justify-items-center h-15 items-center
                                                       hover:bg-rose-900 hover:rounded-lg">
                                <div>{{el.question.user.username}}</div>
                                <div>{{ el.question.subject }}</div>
                                <div>{{ el.date }}</div>
                            </a>
                        {% else %}
                            <a href="{% if el.question.is_anonymous != None %}{% url 'complaints_record' el.question.pk %}{% else %}{% url 'techsupport_record' el.question.pk %}{% endif %}" class="grid grid-cols-3 rounded-lg justify-items-center h-15 items-center
                                                      hover:bg-neutral-800 hover:rounded-lg">
                                <div>{{el.question.user.username}}</div>
                                <div>{{ el.question.subject }}</div>
                                <div>{{ el.date }}</div>
                            </a>
                        {% endif %}
                {% endfor %}
            {% else %}
                <div class="col-span-3 text-center text-xl font-semibold my-20 text-gray-300">У Вас нет ответов на форуме...</div>
            {% endif %}
        </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}