
div.users-balance-top{
    border: 1.7px solid #483d8b;
    border-radius: 12px;
    max-width: 400px;
    box-shadow: -15px 15px 30.09px 7.91px rgba(0, 0, 0, 0.21);
    background: #E8E8E8;
    background-clip: padding-box;
}

div.users-balance-top-header{
    border-bottom: 1.7px solid #483d8b;
    border-radius: 12px;
    padding:15px;
    background: #E5CCFF;
}

div.users-balance-list{
    display:block;
    padding-top:15px;
}

div.user-balance{
    border-bottom: 1.7px solid #483d8b;
    float:center;
    weight: 100%;
    padding-bottom:15px;
    padding-left:10px;
}

img.user-top-img{
    float:left;
    width: 50px;
    height: 50px;
    border: 3.2px solid;
    border-radius: 5px;
}

div.admin-info{
    margin-left:15px;
}

div.moderators-block{
    margin-top:30px;
    border: 1.7px solid #483d8b;
    border-radius: 12px;
    max-width: 400px;
    box-shadow: -15px 15px 30.09px 7.91px rgba(0, 0, 0, 0.21);
    background: #E8E8E8;
    background-clip: padding-box;
}

div.moderators-block-header{
    border-bottom: 1.7px solid #483d8b;
    border-radius: 12px;
    padding:15px;
    background: #E5CCFF;
}

div.moderators-list{
    display:block;
    padding-top:15px;
}

div.parent {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 5px;
grid-row-gap: 15px;
}

