span{
    font-family: 'FSElliotPro-Heavy';
}

div.basket_item{
    margin: 0 auto;
}

div.features_block{
    width: 1200px;
    margin: auto;
    item-align:center;
}

div.product {
    border-radius: 15px;
    margin-left: 35px;
    box-shadow: -15px 15px 30.09px 7.91px rgba(0, 0, 0, 0.21);
    float: left; /*Задаем обтекание*/
    line-height: 120px;/*Высота строки + верт. центрирования текста*/
    font-size: 25px;
    background: #2c3e50;
    color: white;
    margin-top: 50px;
    width:320px; /* (не) Фиксируем ширину блока*/
    margin-right: 10px;
    text-align: center; /*Центрируем текст по горизонтали*/ }