{% extends 'patterns/header.html' %}
{% block title %}Авторизация{% endblock %}
{% block addlist %}

<div class="all_screen">
<div class="registration-container">
        <h2>Авторизация</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Логин:</label>
                {{authform.username}}
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                {{authform.password}}
            </div>
            <button type="submit" class="submit-btn">Авторизоваться</button>
            <a href="{%url 'reg'%}">Зарегистрироваться</a>
        </form>
</div>
</div>
{% endblock %}