{% extends 'patterns/header.html' %}
{% block title %}Подтверждение почты{% endblock %}
{% block addlist %}

<div class="items-center mt-5">
<div class="flex flex-col w-[80%] md:w-[25%] bg-gray-400 mx-auto items-center p-5 rounded-lg">
        <h2 class="text-2xl text-semibold text-black">Подтверждение</h2>
        <form class="flex flex-col space-y-2" method="POST">
            {% csrf_token %}
            <div class="grid grid-col">
                <label class="italic text-lg font-medium text-black" for="ver_mail">Код из почты:</label>
                {{form.ver_mail}}
            </div>
            <p class="error">{{error}}</p>
            <button type="submit" class="px-2 py-1 rounded-lg bg-indigo-950 text-xl text-white hover:text-gray-300 hover:bg-indigo-900">Подтвердить</button>
        </form>
</div>
</div>
{% endblock %}