{% extends 'patterns/header.html' %}

{% block title %}
    Корзина
{% endblock %}
{% load static %}
{% block home %}
    <link rel="stylesheet" href="{% static 'shop/style_shop.css' %}">
    <div class="div features_block">
        {% for el in basket %}
            <div class="basket_item">
                <p>{{el.product}} в количестве {{el.value}} штук. Стоимость: {{el.value}} * {{el.product.price}} = {{el.products_price}}
                    <a href="{% url 'basket_remove' el.id %}"><i class="fa fa-trash-o" aria-hidden="true">Удалить</i></a>
                </p>
            </div>
        {% endfor %}
        <p>Всего товаров: {{basket.total_value}}</p>
        <p>Общая сумма: {{basket.total_price}}</p>
        <p>Ваш баланс: {{balance}}</p><br>
        {% if error %}
            <p>{{error}}</p>
        {% endif %}
        <p><a href="{% url 'payment_basket' %}">Купить!</a></p>
        <p><strong>Купленные товары:</strong></p>
        {% if purchased_baskets %}
            {% for el in purchased_baskets %}
                <div class="basket_item">
                    <p>{{el.product}} в количестве {{el.value}} штук. Стоимость: {{el.value}} * {{el.product.price}} = {{el.products_price}}
                        <a href="{% url 'basket_remove' el.id %}"><i class="fa fa-trash-o" aria-hidden="true">Удалить</i></a>
                    </p>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас ещё нет купленных товаров</p>
        {% endif %}
    </div>
{% endblock %}