{% extends 'patterns/header.html' %}

{% block title %}
    Магазин
{% endblock %}
{% load static %}
{% block home %}
    <link rel="stylesheet" href="{% static 'shop/style_shop.css' %}">
    <div class="features_block">
        {% for el in products %}
            <div class="product">
                <span>{{el.name}}</span><br>
                <span>Цена: {{el.price}}</span><br>
                <span>Мод: {{el.mode}}</span><br>
                <a href="{% url 'basket_add' el.slug %}" class="btn btn-warning">Добавить товар</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}