{% extends 'patterns/header.html' %}

{% block techsupport_header %}
    <nav class="flex flex-wrap items-center bg-neutral-600 border-3 h-15 px-1 md:px-10 border-indigo-950 rounded-lg mx-5">
        <ul class="flex items-center w-auto text-gray-300 font-medium leading-normal text-base md:text-xl divide-x-1 divide-gray-300">
          <li class="px-1"><a class="md:m-5 hover:text-white" href="{% url 'techsupport_form' %}">Создать тикет</a></li>
          <li class="px-1"><a class="md:m-5 hover:text-white" href="{% url 'techsupport_waiting' %}">Новые тикеты</a></li>
          <li class="px-1"><a class="md:m-5 hover:text-white" href="{% url 'techsupport_closed' %}">Закрытые тикеты</a></li>
          <li class="px-1"><a class="md:m-5 hover:text-white" href="{% url 'techsupport_user_tickets' %}">Мои тикеты</a></li>
        </ul>
    </nav>

    {% block records %}   {% endblock %}

    {% block form %}    {% endblock %}
{% endblock %}