{% extends 'patterns/header.html' %}
{% load static %}
{% block addlist %}
<link rel="stylesheet" href="{% static 'forum/forum-style.css' %}">
    <div class="forum-content grid grid-cols-1 gap-2 md:grid-cols-12 p-5 md:space-x-5">
        <div class="hidden md:flex col-span-1" ></div>
        <div class="left-panel flex-col space-y-5 md:col-span-8 ">
            <div class="public-chat">
                <div class="chat-header top-0 left-0 right-0 bg-indigo-950 rounded-t-lg h-10 text-center">
                    <span class="text-gray-100 font-semibold text-2xl m-auto">Общий чат</span>
                </div>
                <div class="chat-content z-0 relative overflow-y-auto h-80 bg-gray-300 py-2">
                    <form class="flex-col justify-between px-2" method="POST">
                        {% csrf_token %}
                        {{ message_input.text }}
                        <button type="submit" class="w-full my-2 border-2 rounded-lg border-gray-600 bg-gray-200 text-black
                        hover:text-gray-200 hover:bg-indigo-950 hover:border-indigo-200">Отправить</button>
                    </form>
                    <ul>
                        {% if all_messages %}
                        {% for el in all_messages %}
                        <li class="px-1 py-2 border-y border-white hover:border-black">
                            <a class="flex items-center text-gray-600" href="{% url 'profile' el.username %}">
                                <img class="inline-block w-8 h-8 mr-3 rounded-full" src="{{el.username.avatar.url}}" alt="">
                                {% if el.username.is_staff %}
                                    <span class="font-bold text-red-600">{{el.username.username}}:  </span>{{el.text}}
                                {% elif el.username.is_moderator %}
                                    <span class="font-bold text-green-700">{{el.username.username}}:  </span>{{el.text}}
                                {% else %}
                                    {{el.username.username}}: {{el.text}}
                                {% endif %}
                                <span class="text-gray-500 ml-auto">
                                    {{el.date|date:"dM,h:m"}}
                                </span>
                            </a>
                        </li>
                        {% endfor %}
                        {% else %}
                            <h2 class="justify-center" >Сообщений пока нет...</h2>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="techsupport border-indigo-950 border-2 rounded-t-lg overflow-hidden">
                <div class="techsupport-header flex bg-indigo-950 h-10 items-center justify-between">
                    <h2 class="text-gray-100 font-semibold text-2xl m-auto">Поддержка</h2>
                    <span class="hidden md:inline text-base text-gray-100 italic mr-1">{{questions_len}} вопросов</span>
                </div>
                <div class="techsupport-content flex-col">
                    <a href="{% url 'techsupport_form' %}" class="subject-block border-y-1 border-gray-300 px-2 flex items-center h-15 bg-gray-100 text-xl
                                hover:bg-gray-200 hover:border-gray-500 hover:border-y-2">
                        <svg class="w-6 h-6 text-red-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m14-4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"/>
                        </svg>
                        <span>Проблемы с клиентом игры</span>
                    </a>
                    <a href="{% url 'techsupport_form' %}" class="subject-block border-y-1 border-gray-300 px-2 flex items-center h-15 bg-gray-100 text-xl
                                hover:bg-gray-200 hover:border-gray-500 hover:border-y-2">
                        <svg class="w-6 h-6 text-red-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M3 4.92857C3 3.90506 3.80497 3 4.88889 3H19.1111C20.195 3 21 3.90506 21 4.92857V13h-3v-2c0-.5523-.4477-1-1-1h-4c-.5523 0-1 .4477-1 1v2H3V4.92857ZM3 15v1.0714C3 17.0949 3.80497 18 4.88889 18h3.47608L7.2318 19.3598c-.35356.4243-.29624 1.0548.12804 1.4084.42428.3536 1.05484.2962 1.40841-.128L10.9684 18h2.0632l2.2002 2.6402c.3535.4242.9841.4816 1.4084.128.4242-.3536.4816-.9841.128-1.4084L15.635 18h3.4761C20.195 18 21 17.0949 21 16.0714V15H3Z"/>
                            <path d="M16 12v1h-2v-1h2Z"/>
                        </svg>
                        <span>Проблемы с сайтом</span>
                    </a>
                    <a href="{% url 'techsupport_form' %}" class="subject-block border-y-1 border-gray-300 px-2 flex items-center h-15 bg-gray-100 text-xl
                                hover:bg-gray-200 hover:border-gray-500 hover:border-y-2">
                        <svg class="w-6 h-6 text-red-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M8 7V6a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1M3 18v-7a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm8-3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"/>
                        </svg>
                        <span>Проблемы с оплатой</span>
                    </a>
                    <a href="{% url 'techsupport_form' %}" class="subject-block border-y-1 border-gray-300 px-2 flex items-center h-15 bg-gray-100 text-xl
                                hover:bg-gray-200 hover:border-gray-500 hover:border-y-2">
                        <svg class="w-6 h-6 text-red-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.529 9.988a2.502 2.502 0 1 1 5 .191A2.441 2.441 0 0 1 12 12.582V14m-.01 3.008H12M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>

                        <span>Получить ответ на вопрос</span>
                    </a>
                </div>
            </div>
            <div class="rules-questions border-indigo-950 border-2 rounded-t-lg overflow-hidden">
                <div class="rules-questions-header flex bg-indigo-950 h-10 items-center justify-between">
                    <h2 class="text-gray-100 font-semibold text-2xl m-auto">Вопросы по правилам проекта</h2>
                    <span class="hidden md:inline text-base text-gray-100 italic mr-1">{{complaints_len}} обращений</span>
                </div>
                <div class="rules-questions-content">
                    <a href="{% url 'complaints_form' %}" class="subject-block border-y-1 border-gray-300 px-2 flex items-center h-15 bg-gray-100 text-xl
                                hover:bg-gray-200 hover:border-gray-500 hover:border-y-2">
                        <svg class="w-6 h-6 text-red-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m6 6 12 12m3-6a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>

                        <span>Сообщить о нарушении правил игроком</span>
                    </a>
                    <a href="{% url 'complaints_form' %}" class="subject-block border-y-1 border-gray-300 px-2 flex items-center h-15 bg-gray-100 text-xl
                                hover:bg-gray-200 hover:border-gray-500 hover:border-y-2">
                        <svg class="w-6 h-6 text-red-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M10 12v1h4v-1m4 7H6a1 1 0 0 1-1-1V9h14v9a1 1 0 0 1-1 1ZM4 5h16a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Z"/>
                        </svg>
                        <span>Обжаловать наказание</span>
                    </a>
                    <a href="{% url 'complaints_form' %}" class="subject-block h-fit border-y-1 border-gray-300 px-2 flex items-center md:h-15 bg-gray-100 text-xl
                                hover:bg-gray-200 hover:border-gray-500 hover:border-y-2">
                        <svg class="w-6 h-6 text-red-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8.032 12 1.984 1.984 4.96-4.96m4.55 5.272.893-.893a1.984 1.984 0 0 0 0-2.806l-.893-.893a1.984 1.984 0 0 1-.581-1.403V7.04a1.984 1.984 0 0 0-1.984-1.984h-1.262a1.983 1.983 0 0 1-1.403-.581l-.893-.893a1.984 1.984 0 0 0-2.806 0l-.893.893a1.984 1.984 0 0 1-1.403.581H7.04A1.984 1.984 0 0 0 5.055 7.04v1.262c0 .527-.209 1.031-.581 1.403l-.893.893a1.984 1.984 0 0 0 0 2.806l.893.893c.372.372.581.876.581 1.403v1.262a1.984 1.984 0 0 0 1.984 1.984h1.262c.527 0 1.031.209 1.403.581l.893.893a1.984 1.984 0 0 0 2.806 0l.893-.893a1.985 1.985 0 0 1 1.403-.581h1.262a1.984 1.984 0 0 0 1.984-1.984V15.7c0-.527.209-1.031.581-1.403Z"/>
                        </svg>
                        <span>Сообщить о нарушении правил со стороны Администрации</span>
                    </a>
                    <a href="{% url 'complaints_form' %}" class="subject-block h-fit border-y-1 border-gray-300 px-2 flex items-center md:h-15 bg-gray-100 text-xl
                                hover:bg-gray-200 hover:border-gray-500 hover:border-y-2">
                        <svg class="w-6 h-6 text-red-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v5a1 1 0 1 0 2 0V8Zm-1 7a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z" clip-rule="evenodd"/>
                        </svg>
                        <span>Сообщить о нарушении правил кланом/группой игроков</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="right-panel hidden md:flex md:space-y-5 md:flex-col md:col-span-3">
            <div class="h-fit border-indigo-950 border-2 rounded-t-lg overflow-hidden">
                <div class="flex bg-indigo-950 h-10 items-center">
                    <span class="text-xl text-gray-100 m-auto medium leading-normal font-medium">Топ по балансу: </span>
                </div>
                <div class="bg-gray-300 divide-y-1 divide-gray-600">
                    {% for el in rich_users_top %}
                    <div class="flex flex-row items-center px-3 py-1">
                        {% if forloop.counter == 1 %}
                            <div class=""><img class="inline-block w-11 h-11 mr-3 rounded-full border-3 border-yellow-300" src="{{el.avatar.url}}" alt=""></div>
                        {% elif forloop.counter == 2%}
                            <div class=""><img class="inline-block w-11 h-11 mr-3 rounded-full border-3 border-zinc-400" src="{{el.avatar.url}}" alt=""></div>
                        {% elif forloop.counter == 3 %}
                            <div class=""><img class="inline-block w-11 h-11 mr-3 rounded-full border-3 border-amber-600" src="{{el.avatar.url}}" alt=""></div>
                        {% endif %}
                        <div class=""> <span><span class="italic text-black font-semibold">{{forloop.counter}}</span> :{{el.username.username}}</span><br>
                            <span>Состояние: <span class="italic font-medium text-amber-600">{{el.balance}}</span> монет</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="h-fit border-indigo-950 border-2 rounded-t-lg overflow-hidden">
                <div class="flex bg-indigo-950 md:h-10 items-center">
                    <span class="text-xl text-gray-100 text-center m-auto medium leading-normal font-medium">Наша Администрация:</span>
                </div>
                <div class="bg-gray-300 divide-y-1 divide-gray-600">
                    {% for el in stuff_users.admins %}
                        <div class="flex flex-row items-center px-3 py-1">
                            <img class="inline-block w-11 h-11 mr-1 rounded-full border-2 border-red-700" src="{{el.avatar.url}}">
                            <div class="user-top-info admin-info"><span class="text-red-700 font-bold">{{el.username.username}}</span><br>
                                <span class="italic font-medium">Администратор</span>
                            </div>
                        </div>
                    {% endfor %}
                    {% for el in stuff_users.moderators %}
                        <div class="flex flex-row items-center px-3 py-1">
                            <img class="inline-block w-11 h-11 mr-1 rounded-full border-2 border-green-700" src="{{el.avatar.url}}">
                            <div class="user-top-info admin-info"><span class="text-green-700 font-bold">{{el.username.username}}</span><br>
                                <span class="italic font-medium">Модератор</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}