{% extends 'patterns/header.html' %}
{% block title %}Все новости{% endblock %}
{% load static %}
{% block addlist %}
  <link rel="stylesheet" href="{% static 'rules/rules.css' %}">
<div class="mx-40 bg-gray-100 p-5 space-y-2 rounded-lg">
    <div class="text-black text-center font-bold text-2xl">1.Основные положения/пользовательское соглашение:</div>
    <div class="mx-20">
    {% for el in rules %}
        {% if el.rule_id < 2  %}
            <p><span class="text-2xl font-bold italic text-black">{{el.rule_id}}: </span>
                <span class="text-lg font-semibold text-black" >{{el.crime}}</span><br>
                <span class="text-xl font-bold text-black">Наказание: </span><span class="text-lg font-semibold text-rose-600 italic">{{el.punishment}}</span>
            </p>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}