{% extends 'patterns/header.html' %}
{% block title %}Все новости{% endblock %}
{% load static %}
{% block addlist %}
<div class="m-5 md:mx-40 bg-gray-100 p-2 md:p-5 space-y-2 rounded-lg">
    <div class="text-black text-center font-bold text-2xl">Условия участия в бета-тестировании</div>
    <div class="text-lg font-semibold text-black">Данный свод правил и положений является единственным для бета-тестирования проекта grin-craft.
        Пользователь, участвующий в бета-тестировании проекта автоматически принимает условия данного соглашения, а так же подтверждает тот факт, что участвует в бета-тестировании добровольно/на безвозмездной основе.
    </div>

<div class="text-black text-center font-bold text-2xl">Основные положения:</div>
<div class="text-lg font-semibold text-black">
    <span class="font-bold">Бета-тест</span> - состояние игрового проекта, нацеленное на допуск к нему только ограниченного круга лиц(являющихся тестировщиками) и в первую очередь, на выявление ошибок/сбоев/уязвимостей проекта с целью не допустить недочеты в релизную версию проекта.
</div>
<div class="text-lg font-semibold text-black">
    <span class="font-bold">Тестировщик</span> - пользователь, добровольно принимающий участие в закрытом бета-тестировании проекта и делающий это на безвозмездной основе.
</div>
<div class="text-lg font-semibold text-black">
    <span class="font-bold">Персональный пропуск</span> - разрешение, позволяющее пользователю участвовать в закрытом бета-тестировании проекта. Выдается в индивидуальном порядке каждому тестировщика.
</div>
<div class="text-black text-center font-bold text-2xl">Порядок проведения бета-тестирования:</div>

<div class="text-lg font-semibold text-black">
Во время проведения бета-тестирования доступна регистрация игрового аккаунта с верификацией почтового адреса, однако, вход в систему возможен только после получения персонального пропуска от Администрации.
</div>
<div class="text-lg font-bold text-black">
Для участия в закрытом бета-тестировании необходимо:
</div>
<div class="text-lg font-semibold text-black">
<span class="text-bold">1.</span>  Зарегистрировать игровой аккаунт на проекте grin-craft.ru, пройти подтверждение адреса электронной почты(проверьте папку «спам», если электронное письмо отсутствует во входящих).
</div>
<div class="text-lg font-semibold text-black">
<span class="text-bold">2.</span> Получить от Администрации персональный пропуск по одобрению и/или приглашению таковой.
</div>
<div class="text-lg font-semibold text-black">
<span class="text-bold">3.</span> Принять приглашение в официальный чат бета-тестировании, не выходить из него до окончания бета-тестирования, либо до окончания собственной активности на проекте. Портал для размещения чата бета-тестирования определяется Администрацией самостоятельно.
</div>
<div class="text-lg font-semibold text-black">
<span class="text-bold">4.</span> Выполнить вход в систему, по совершению которого пользователь считается участвующем в бета-тестировании проекта.
</div>
Наличие/размер/количество вознаграждения для тестировщиков определяется Администрацией на свое усмотрение, в индивидуальном порядке и может зависеть от количества обнаруженных тестировщиком уязвимостей/багов/недоработок, общего времени проведенного на сервере в период тестирования, соблюдения правил проекта и тд
Администрация сохраняет за собой право оставить у пользователя статус тестировщика по завершению бета-тестирования, основываясь как на критерия выше, так и на свойственное субъективное мнение, сложившееся о пользователе за период бета-теста.
</div>
{% endblock %}