{% extends 'patterns/header.html' %}
{% block title %}Введите пароль{% endblock %}
{% block addlist %}

<div class="items-center">
<div class="flex flex-col w-[25%] bg-gray-400 mx-auto items-center p-5 rounded-lg">
        <h2 class="text-2xl text-semibold text-black">Введите пароль</h2>
        <form class="flex flex-col space-y-2" method="POST">
            {% csrf_token %}
          <span class="italic text-lg font-medium text-black">Введите новый пароль:</span>
          {{form.new_password1}}
          <span class="italic text-lg font-medium text-black">Подтвердите новый пароль:</span>
          {{form.new_password2}}
          {% if form.new_password2.errors %}
              <span class="text-rose-900 italic text-base">{{form.new_password2.errors}}</span>
          {% endif %}
            <button class="px-2 py-1 rounded-lg bg-indigo-950 text-xl text-white hover:text-gray-300 hover:bg-indigo-900" type="submit" >Сохранить</button>
        </form>
</div>
</div>
{% endblock %}