{% extends 'patterns/header.html' %}
{% block title %}Введите пароль{% endblock %}
{% block addlist %}

<div class="items-center">
<div class="flex flex-col mt-5 w-[80%] md:w-[20%] bg-gray-400 mx-auto items-center p-5 rounded-lg">
        <h2 class="text-2xl text-semibold text-black">Введите пароль</h2>
        <form class="flex flex-col space-y-2" method="POST">
            {% csrf_token %}
          <span class="italic text-lg font-medium text-black">Введите новый пароль:</span>
          {{form.new_password1}}
          <span class="italic text-lg font-medium text-black">Подтвердите новый пароль:</span>
          {{form.new_password2}}
          {% if form.new_password1.errors %}
                {% for error in form.new_password1.errors %}
                <ul class="text-sm text-rose-600">
                    <li>{{error}}</li>
                </ul>
                {% endfor %}
          {% endif  %}
          {% if form.new_password2.errors %}
                {% for error in form.new_password2.errors %}
                <ul class="text-sm text-rose-600">
                    <li>{{error}}</li>
                </ul>
                {% endfor %}
          {% endif  %}
            <button class="px-2 py-1 rounded-lg bg-indigo-950 text-xl text-white hover:text-gray-300 hover:bg-indigo-900" type="submit" >Сохранить</button>
        </form>
</div>
</div>
{% endblock %}